.App {
  text-align: center;
  margin-top: 100px;

}
*{
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 110%;
 
}

.Model{
  border:2px solid rgb(3, 93, 157);
  border-radius: 40px;
  height: 600px;
  padding-top: 60px;
  width:60%;
 margin: auto;
 background: rgb(234, 210, 210);
}

#root{
  text-align: center;
}

.calc-title{
  font-size: 30px;
  background: rgb(95, 95, 221);
  width:400px;
  padding: 10px 10px;
  margin:0 auto ;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: 2px solid black;
  color: rgb(255, 221, 0);
}

.screen{
  margin:0px;
  padding:0px;
  border-radius: 0px;
  box-sizing: border-box;
}

input[type='button']{
  width: 100px;
  background: #4CAF50;
  border: 1px solid #222;
  padding: 10px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type='button']:active{
  background: #ccc;
}



.display-input input{
width: 400px;
  background: #ddd;
  border: 0px;
  color: #222;
  padding: 10px;
  text-align: right;
}


.Button-row{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
  

}